body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}

div {
    margin-bottom: 0px;
    background-color: #dfb729;
    overflow: hidden;
    color: #0f0f0e; 
    padding-bottom: 10px;
    border: 3px solid #0c0c0c;
}

h3 {
    display: inline-block;
    width: 200px;
    color: #0c0c0c;
    background-color: white;
    text-align: left;
    border: 7px solid #0a0a0a;
    border-radius: none;
    margin: center;
    }

span * {
        width: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 120px;
        display: inline-block;
        border-width: 5px;
        border-style: solid;
        border-color: #080808;
    }

#header {
    font-size: 62px;
    background-color: #dfb729;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}



button {
    height: 130px;
    width: 130px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #080808;
    color: 	#fbfffb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 10px;
}

button:hover {
    background-color: #dfb729;
}



#winlose {
    display: inline-block;
    width: 300px;
    border: 3px solid #0c0c0c;
    color: #0a0a0a;
    background-color: #dfb729;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
}

#creditbox, #betbox {
    display: block;
    width: 300px;
    border: 2px solid #0c0c0c;
    color: #0a0a0a;
    background-color: #dfb729;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}

